@mixin clearFix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin greyScale {
    filter: grayscale(100%);
}

@mixin removeGreyScale {
    filter: grayscale(0%);
    transition: 0.1s ease-in;
}