* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    background: #f8f9fb;
    font-size: 16px;
}

html,
body {
    height: 100%;
    margin: 0;
}

html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

fieldset,
img {
    border: 0;
}

li {
    list-style: none;
}


/** center content on page **/

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}